<div> 
    <a href="https://www.linkedin.com/in/daniela-barrera-af/"><img src="../../../assets/linkedinlogo.png" id="linkedin"></a>
    <a href="https://github.com/Dani-AF?tab=repositories"><img src="../../../assets/githublogo.png" id="github"></a>
    <a href="https://www.instagram.com/dani_barreraa/"><img src="../../../assets/instagramlogo.png" id="instagram"></a>
    <a href="https://www.facebook.com/DaniielaaBarreraa/"><img src="../../../assets/facebooklogo.png" id="facebook"></a>
    <a href="https://twitter.com/DaaniiBaarrera"><img src="../../../assets/twitterlogo.png" id="twitter"></a>
</div>
